* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Montserrat','Poppins','Quicksand', 'Segoe UI',sans-serif;
    background: #17171B;
}

body::-webkit-scrollbar-button {
    height: 5px;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 10px;
}

body::-webkit-scrollbar:vertical {
    width: 7px;
}

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 5%;
}

body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    height: 10px;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    margin: 10px 0;
}